.cs-markdown-rendered h1 { font-size: 2em; }
.cs-markdown-rendered h2 { font-size: 1.5em; }
.cs-markdown-rendered code { background: #565c14; padding: 2px 4px; }
.cs-markdown-rendered pre { background: #340204; padding: 10px; overflow-x: auto; }
.cs-markdown-rendered ul, .cs-markdown-rendered ol { padding-left: 20px; }
.cs-markdown-rendered {padding: 20px;}